*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

:root{
    --color_accent: red;
    --color_white: #fff;
    --color_black: #000;
}

a {
    text-decoration: none;
}

header section{
    padding: 0 15%;
    text-align: center;
    align-items: center;
}

header .nav_link{
    margin: 0 20vw;
}


header nav ul{
    display: grid;
    padding-top: 3vh;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
}

header nav ul li a{
    position: relative;
    font-size: 120%;
    color: var(--color_black);
    font-weight: 400;
    opacity: 0.6;
    transition: ease 0.6s all;
}

header nav ul li a:hover{
    opacity: 1;
    text-shadow: 0px 0px 16px rgba(206,0,0,0.51);
    transition: ease 0.6s all;
}


header nav ul li a:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 2px;
	background-color: var(--color_accent); 
	content: "";
    opacity: 1;
    text-shadow: 0px 0px 16px rgba(206,0,0,0.51);
	transition: width 0.6s ease-out;
}

header nav ul li a:hover:after,
header nav ul li a:focus:after {
	width: 100%;
}

header section h1{
    font-size: 320%;
    padding-top: 14vh;
}

header section .sub_text{
    color: var(--color_accent);
    font-weight: 600;
    font-size: 120%;
    padding-top: 0.5vh;
}

header section .car_block{
    display: grid;
    padding-top: 8vh;
}

header section .img_car{
    height: 53vh;
    width: 53vw;
    margin: 0 auto;
}

header section .img_car img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header section .car_block .advantages_block{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

header section .car_block .advantages_block .atributs_car{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px; 
    align-items: center;
}

header section .car_block .advantages_block .atributs_car i{
    display: block;
    text-align: right;
    font-size: 280%;
    text-shadow: 0px 1px 20px rgba(151, 5, 5, 0.41);
    color: var(--color_accent);
}
header section .car_block .advantages_block .atributs_car p:nth-child(1){
    font-size: 200%;
    font-weight: 700;
    text-align: left;
    color: var(--color_accent);
}

header section .car_block .advantages_block .atributs_car p{
    text-align: left;
}

header section .car_block .advantages_block .atributs_car span{
    font-size: 75%;
    font-weight: 100;
    color: var(--color_black);
    padding-left: 6px;
}
header section .car_block .advantages_block .atributs_car .icon_text .test_drive{
    font-size: 130%;
}
header section .car_block .advantages_block .atributs_car .icon_image .icon-steering-wheel{
    font-size: 200%;
}

header section .car_block .advantages_block a{
    font-weight: 100;
    font-size: 130%;
    color: var(--color_accent);
    border: 3px solid var(--color_accent);
    padding: 14px 40px;
    transition: ease 0.6s all;
}

header section .car_block .advantages_block a:hover,
header section .car_block .advantages_block a:focus{
    background-color: var(--color_accent);
    color: #fff;
    border-radius: 17px;
    transition: ease 0.6s all;
}

/*Main*/

/*Confidence*/
main .confidence{
    background-color: var(--color_accent);
    margin-top: 10vh;
    padding-top: 10vh;
}
main .confidence section{
    margin: 0;
    margin: 0 20vw;
}

main .confidence h2{
    font-size: 300%;
    color: var(--color_white);
    text-align: center;
}

main .confidence .achivment-block{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    padding-top: 7vh;
}

main .confidence .achivment-block .achivment{
    display: grid;
    grid-template: 1fr/1fr;
    padding-bottom: 10vh;
    justify-items: center;
}

main .confidence .achivment-block .achivment .icon{
    display: grid;
    border: 3px solid var(--color_white);
    width: 80px;
    height: 80px;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 50%;
}

main .confidence .achivment-block .achivment .icon i{
    font-size: 250%;
    color: var(--color_white);
}

main .confidence .achivment-block .achivment .icon .icon-cab{
    margin-right: 5px;
}

main .confidence .achivment-block .achivment p{
    padding-top: 2vh;
    color: var(--color_white);
    font-size: 120%;
}

/*Search*/

main .search-block{
    padding-top: 10vh;
}

main .search-block h2{
    text-align: center;
    font-size: 200%;

}

main .search-block form{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    padding: 0 20%;
    padding-top: 3vh;
}

main .search-block .search{
    display: grid;
    grid-column: 1 / 6;
}

main .search-block .search .search-input{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 40px;
}

main .search-block .search .search-input input{
    display: grid;
    height: 50px;
    padding-left: 3%;
    font-size: 115%;
    border: 1px solid var(--color_accent);
    background-color: var(--color_accent);
    color: var(--color_white);
    border-right: 0;
    border-radius: 5px 0px 0px 5px;
}

main .search-block .search .search-input button{
    border: 1px solid #B90101;
    cursor: pointer;
    height: 50px;
    font-size: 115%;
    text-transform: uppercase;
    background-color: #B90101;
    color: var(--color_white);
    border-radius: 0px 5px 5px 0px;
    border-left: 0;
}

main .search-block .search .search-input button:hover{
    opacity: 0.8;
}

main .search-block .search .search-input input:focus{
    outline: none;
}

main .search-block .search .search-input input::placeholder{
    text-transform: uppercase;
    color: #fff;
}


main .search-block .search .checkbox{
    display: grid;
    grid-template-columns: 25px 1fr 25px 1fr 25px 1fr;
    justify-items: start;
    align-items: center;
}

main .search-block .search .checkbox input{
    width: 100%;
}

main .search-block .mark{
    grid-column: 7 / 10;
}

main .search-block .mark select{
    display: grid;
    width: 100%;
    height: 50px;
    font-size: 110%;
    background-color: var(--color_accent);
    color: var(--color_white);
    text-transform: uppercase;
    border: 1px solid var(--color_white);
    border-radius: 5px 5px 0px 0px;
}

main .search-block .mark select:nth-child(2){
    border-radius: 0px 0px 5px 5px;
}

main .search-block .mark select:focus{
    outline: none;
}

/*News*/

main section.news{
    padding: 0 15%;
    padding-top: 15vh;
}

main section.news h2{
    font-size: 200%;
    text-align: center;
} 

main section.news .card-news{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 5vh;
    row-gap: 30px;
    text-align: center;
    column-gap: 100px;
}

main section.news .card-news .card{
    display: grid;
    row-gap: 20px;
    border: 1px solid var(--color_accent);
    border-radius: 20px;
}

main section.news .card-news .card .imagine-card{
    width: 100%;
}

main section.news .card-news .card .imagine-card img{
    width: 100%;
    height: 400px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;

}

main section.news .card-news .card h4{
    font-size: 130%;
}

main section.news .card-news .card hr{
    border: 2px solid var(--color_accent);
}

main section.news .card-news .card p{
    padding: 0 5%;
}

main section.news .card-news .card a{
    color: var(--color_accent);
    font-weight: bold;
    padding: 10px 0;
}

/*footer*/

footer{
    background-color: var(--color_accent);
    margin-top: 6vh;
    padding: 0 15%;
}

footer ul{
    display: grid;
    row-gap: 20px;
    padding-top: 4vh;
    list-style-type: none;
}


footer ul li h4{
    color: #fff;
    cursor: pointer;
    font-size: 200%;
}

footer ul hr{
    border: 2px solid var(--color_white);
}

footer ul li a{
    font-size: 120%;
    color: var(--color_white);
    transition: 0.4s;
}

footer ul li a:hover{
    opacity: 0.7;
    transition: 0.4s;
}




