
.icon-gauge:before { content: '\e802'; } /* '' */
.icon-road:before { content: '\e803'; } /* '' */
.icon-steering-wheel:before { content: '\e804'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */
